.Layout {
    height: 100vh;

}

.Layout header {
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Layout .navbar-container {
    height: 15%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.Layout .content {
    height: 70vh;
    width: 800px;
    
    margin: 0 auto;

}
