.AnchorLink {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #095C8E;
    transition: background-color 0.25s;
}

.AnchorLink:hover {
    background-color: #73DCFC;
}